.cursor-pointer {
    cursor: pointer;
}
  
  // generate margin top
  @for $i from 0 through 100 {
    $var: $i * 1%;
    .margin-top-#{$i} {
      margin-top: #{$var} !important; 
    }
  }

  /*
 Width and Height Helper

 Note* - some classes already built in bootstrap (w-25, w-50, w-75, w-100, h-25, h-50, h-75, h-100)

*/

/* generating width (%) options */
@for $i from 0 through 100 {
    $var: $i * 1%;
    .w-#{$i} {
      width: #{$var} !important; 
    }
  }
  
  @for $i from 0 through 100 {
    $var: $i * 1%;
    .h-#{$i} {
      height: #{$var} !important; 
    }
  }

  /* Untuk browser berbasis WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Warna latar track */
  border-radius: 10px; /* Sudut membulat */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Warna thumb (pegangan scrollbar) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Warna thumb saat dihover */
}
